@charset "utf-8";
html {
    font-size: 100px;
}

html, body, .swiper-container, .swiper-slide {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.swiper-slide {
    position: relative;
}
.page1 {
    background: url("../img/1.jpg") no-repeat;
    background-size: cover;
}
.page2 {
    background: url("../img/7.jpg") no-repeat;
    background-size: cover;
}
.page3 {
    background: url("../img/12.jpg") no-repeat;
    background-size: cover;
}
.page4 {
    background: url("../img/4.jpg") no-repeat;
    background-size: cover;
}
.page5 {
    background: url("../img/15.jpg") no-repeat;
    background-size: cover;
}
.page1>div:nth-child(1){
    width: .8rem;
    height: .8rem;
    position: absolute;
    left: 2rem;
    top: 2rem;
}

.page1>div:nth-child(2){
    width: .8rem;
    height: .8rem;
    position: absolute;
    left: .8rem;
    top: 3rem;
}
.page1>div:nth-child(3){
    width: .8rem;
    height: .8rem;
    position: absolute;
    left: 1rem;
    top: 1.5rem;
}
.page1>div{
    font-size: .2rem;
    line-height: .2rem;
    text-align: center;
    opacity: 0;
}
.page1>div>svg{
    display: block;
    width: .8rem;
    height: .8rem;

}

.page1 ul>li{
    position: absolute;
    cursor: default;

}
.page1 ul>li:nth-child(1){
    width: 100%;
    top: 0.5rem;
    font-size: 0.7rem;
    opacity: 0;

}
.page1 ul>li:nth-child(1) span{
    display: block;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    color: #550055;
}
.page1 ul>li:nth-child(2){
    width: 2.3rem;
    height: .62rem;
    color:black;
    line-height: inherit;
    padding: .3em 15px;
    font-size: 0.5rem;
    bottom: 0.4rem;
    left: -0.2rem;

    font-weight: bold;
    opacity: 0;
}
.page1 ul>li:nth-child(2) span{
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
}
.page1 ul>li:nth-child(3){

    width: 0.3rem;
    height: 2.5rem;
    bottom: 0.2rem;
    left: 2rem;
    opacity: 0;
}
.page1 ul>li:nth-child(3) span{
    display: block;
    width: 0.3rem;
    font-size: .2rem;
    color: orangered;
    font-weight: bold;
    line-height: .22rem;

}
.page1 ul>li:nth-child(4){

    width: 0.3rem;
    height: 1.9rem;
    bottom: 0.2rem;
    left: 2.5rem;
    opacity: 0;
}
.page1 ul>li:nth-child(4) span{
    display: block;
    width: 0.3rem;
    font-size: .2rem;
    color: orangered;
    font-weight: bold;
    line-height: .22rem;
    margin-top: 25px;

}
/*第一张图动画*/
#page1 ul>li:nth-child(1){
    -webkit-animation: zoomIn 1s both;
    animation: zoomIn 1s both;
    opacity: 1;
}
#page1 ul>li:nth-child(2){
    -webkit-animation: fadeInRight 1s .3s both;
    animation: fadeInRight 1s .3s both;
    opacity: 1;
}
#page1 ul>li:nth-child(3){
    -webkit-animation: rotateIn 1s .6s both;
    animation: rotateIn 1s .6s both;
    opacity: 1;
}
#page1 ul>li:nth-child(4){
    -webkit-animation: rotateIn 1s .9s both;
    animation: rotateIn 1s .9s both;
    opacity: 1;
}

/*zoomIn  rotateIn    fideInRight*/
@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}

@keyframes rotateIn {
    from {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -200deg);
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0;
    }

    to {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

.rotateIn {
    -webkit-animation-name: rotateIn;
    animation-name: rotateIn;
}
@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}
#page1>div:nth-child(1){
    -webkit-animation:shake1 1s linear 1s infinite both;
    animation:shake1 1s linear 1s infinite both;
}
#page1>div:nth-child(2){
    -webkit-animation:shake1 1s linear 1s infinite both;
    animation:shake1 1s linear 1s infinite both;
}
#page1>div:nth-child(3){
    -webkit-animation:shake1 1s linear 1s infinite both;
    animation:shake1 1s linear 1s infinite both;
}

.page2{
    position: relative;
}

.page2 div:nth-child(1){
    position: relative;
    width: 1.7rem;
    height: 2rem;
    border: 0.08rem solid rgba(0,0,220,0.5);
    border-radius: 0.08rem;
    /*top: 0.2rem;
    left: .6rem;*/
    top: 0;
    left: 0;
    margin: .2rem auto;
    opacity: 0;

}
.page2 div img{
    display: block;
    width: 100%;
    height: 100%;
}
.page2 ul{
    position: absolute;
    padding:5%;
    width: 90%;
    /*top: 3rem;*/
    bottom: 0;
    height: 2rem;
}
.page2 ul>li{
    position: absolute;
    color: lightseagreen;
    opacity: 0;

}
.page2 ul>li:nth-child(1){
    width: 100%;
    height: .3rem;
    top: 0;
    left: 5%;
    font-size: .2rem;
    line-height: .3rem;
    opacity: 0;

}
.page2 ul>li:nth-child(2){
    top: .3rem;
    width: 90%;
    border-bottom: 2px solid white;
    left: 5%;
    opacity: 0;

}
.page2 ul>li:nth-child(3){
    background: rgba(225,225,225,0.6);
    width:90% ;
    top: .4rem;
    height: .3rem;
    line-height: .3rem;
    text-align: center;
    left: 5%;
    font-size: .2rem;
    font-weight: bold;
}
.page2 ul>li:nth-child(4),.page2 ul>li:nth-child(5),.page2 ul>li:nth-child(6),
.page2 ul>li:nth-child(7),
.page2 ul>li:nth-child(8){
    top: .73rem;
    background:rgba(225,225,225,0.6);
    height: .3rem;
    line-height: .3rem;
    text-align: center;
    font-size: .16rem;
    width: 29%;
}
.page2 ul>li:nth-child(4){
    left: 5%;
}
.page2 ul>li:nth-child(5){
    left: 35.5%;
}
.page2 ul>li:nth-child(6){
    left: 66%;
}
.page2 ul>li:nth-child(7){
    left: 5%;
    width: 66%;
    top: 1.07rem;

}
.page2 ul>li:nth-child(8){
    left: 73%;
    width: 22%;
    top: 1.07rem;
}
.page2 ul>li:nth-child(9){
    height: .3rem;
    top: 1.40rem;
    left: 5%;
    font-size: .16rem;
    line-height: .3rem;
    width: 50%;
    text-align: center;
    background: rgba(225,225,225,0.6);
}
/*第二张图动画*/


#page2 div:nth-child(1){
    -webkit-animation: pulse 1s infinite both;
    animation: pulse 1s infinite both;
    opacity: 1;
}
#page2 ul>li:nth-child(1){
    -webkit-animation: lightSpeedIn 1s .4s both;
    animation: lightSpeedIn 1s .4s both;
    opacity: 1;
}
.page2 ul>li:nth-child(1) img{
    display: block;
    width: 100%;
    height: 100%;
}
#page2 ul>li:nth-child(2){
    -webkit-animation: fadeInLeft 1s .6s both;
    animation: fadeInLeft 1s .6s both;
    opacity: 1;
}
#page2 ul>li:nth-child(3){
    -webkit-animation: fadeInLeft 1s .8s both;
    animation: fadeInLeft 1s .8s both;
}
#page2 ul>li:nth-child(4){
    -webkit-animation: fadeInRight 1s 1s both;
    animation: fadeInRight 1s 1s both;
}
#page2 ul>li:nth-child(5){
    -webkit-animation: fadeInLeft 1s 1.2s both;
    animation: fadeInLeft 1s 1.2s both;
}
#page2 ul>li:nth-child(6){
    -webkit-animation: fadeInRight 1s 1.2s both;
    animation: fadeInRight 1s 1.2s both;
}
#page2 ul>li:nth-child(7){
    -webkit-animation: fadeInLeft 1s .1.4s both;
    animation: fadeInLeft 1s 1.4s both;
}
#page2 ul>li:nth-child(8){
    -webkit-animation: fadeInRight 1s 1.6s both;
    animation: fadeInRight 1s 1.6s both;
}
#page2 ul>li:nth-child(9){
    -webkit-animation: fadeInLeft 1s 1.8s both;
    animation: fadeInLeft 1s 1.8s both;
}

/*rotateDownLeft  rubberBand   fideInLeft  fideInRight*/





.page3>div:nth-child(1){
    position: relative;
    width: 1.2rem;
    height: .35rem;
    top: .2rem;
    left: 1.8rem;

}
.page3>div:nth-child(2){
    position: relative;
    width: 1.2rem;
    height: .35rem;
    top: .5rem;
    left: 1.8rem;
}
.page3>div img{
    width: 100%;
    height: 100%;
}
.page3 ul{
    position: relative;
    top: 0;
}
.page3 ul li{
    width: 1.2rem;
    height: 1.6rem;
    border-radius: 0.08rem;
    opacity: 0;
}
.page3 ul li span{
    display: block;
    line-height: .25rem;
    font-size: .25rem;
    padding: .05rem;
    color: white;
    text-align: right;
    margin-top: .35rem;
    margin-right: .1rem;


}
.page3 ul li:nth-child(1){
    font-size: .2rem;
    line-height: .2rem;
    position: absolute;
    background: lightseagreen;
    left: 0.2rem;
    top: 0.2rem;
    opacity: 0;
}
.page3 ul li:nth-child(2){
    background: lightgreen;

    top: 0.2rem;
    left: 1.7rem;
    position: absolute;
    opacity: 0;
}
.page3 ul li:nth-child(3){
    background: lightcoral;
    top: 2.2rem;
    left: 0.2rem;
    position: absolute;
    opacity: 0;

}
.page3 ul li:nth-child(4){
    background:orangered;
    top: 2.2rem;
    left: 1.7rem;
    position: absolute;
    opacity: 0;
}
.page3 ul li:nth-child(5){
    width: 1.02rem;
    height: 1.06rem;
    background: #F071C7;
    top: 1.15rem;
    left: 0.82rem;
    position: absolute;
    border-radius: 50%;
    border: 0.05rem solid white;
    padding: .2rem;
    opacity: 0;
}
.page3 ul li:nth-child(5) span{
    display: block;
    line-height: .25rem;
    font-size: .25rem;
    color: white;
    margin-top: 0;
    margin-right: .1rem;
}
.page3>img{
    width: 1.6rem;
    height: 1.6rem;
    display: block;
    top: 1.63rem;
    left: 0.58rem;
    position: absolute;
    border-radius: 50%;
    padding: .2rem;
    opacity: 0;

}
.page3 ul p{
    font-size: .16rem;
    color: white;
    text-indent: .1rem;
}

/*flipInY    bounceInDown     rotateIn*/

/*第三张动画*/
#page3>div:nth-child(1){
    -webkit-animation: flipInY 1s both;
    animation: flipInY 1s both;
    opacity: 1;
}
#page3 ul li:nth-child(1){
    -webkit-animation: bounceInDown 1s .2s both;
    animation: bounceInDown 1s .2s both;
    opacity: 1;
}
#page3 ul li:nth-child(2){
    -webkit-animation: bounceInDown 1s .4s both;
    animation: bounceInDown 1s .4s both;
    opacity: 1;
}
#page3 ul li:nth-child(3){
    -webkit-animation: bounceInDown 1s .6s both;
    animation: bounceInDown 1s .6s both;
    opacity: 1;
}
#page3 ul li:nth-child(4){
    -webkit-animation: bounceInDown 1s .8s both;
    animation: bounceInDown 1s .8s both;
    opacity: 1;
}
#page3 ul li:nth-child(5){
    -webkit-animation: rotateIn 1s 1s both;
    animation: rotateIn 1s 1s both;
    opacity: 1;
}
#page3>img{
    -webkit-animation: shake1 1s linear 1s infinite both;
    animation: shake1 1s linear 1s infinite both;



}

@-webkit-keyframes shake1 {
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);


    }
    50%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes shake1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);

    }
    50%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}






/*lightSpeedIn    bounceInDown    bounceInRight    bounceInLeft   bounceInUp*/

.page4>div:nth-child(1){
    height: .3rem;
    position: absolute;
    top: .2rem;
    left: 0;
    width: 1.5rem;
    text-align: center;
    font-size: .25rem;
    color: white;
    opacity: 0;
}
.page4 ul{
    position: relative;
    top: 2rem;
    transform: rotate(45deg);
    left: 1.12rem;

}
.page4 ul li{
    margin-right: .1rem;
    width: 1.1rem;
    height: 1.1rem;
    position: absolute;
    border-radius: .10rem;
    opacity: 0;


}
.page4 ul li span{
    display: block;
    transform: rotate(-45deg);
    line-height: .25rem;
    color: white;
    text-align: center;
    margin-top: .37rem;
    margin-left: 0rem;
    font-size: .20rem;
    width: 1.1rem;

}
.page4 ul li:nth-child(1){
    background:orangered;
    left: 0;
    top: 0;
    opacity: 0;

}
.page4 ul li:nth-child(2){
    background: lightgreen;
    left: 1.15rem;
    top: 0;
    opacity: 0;
}
.page4 ul li:nth-child(3){
    background: lightseagreen;
    top: 1.15rem;
    left: 0;
    opacity: 0;

}
.page4 ul li:nth-child(4){
    background: lightcoral;
    left: 1.15rem;
    top: 1.15rem;
    opacity: 0;
}
/*第四张动画*/
#page4>div:nth-child(1){
    -webkit-animation: rollIn 1s  both;
    animation: rollIn 1s both;
}
#page4 ul li:nth-child(1){
    -webkit-animation: fadeInDown 1s .3s both;
    animation: fadeInDown 1s .3s both;
}
#page4 ul li:nth-child(2){
    -webkit-animation: fadeInRight 1s .3s both;
    animation: fadeInRight 1s .3s both;
}
#page4 ul li:nth-child(3){
    -webkit-animation: fadeInLeft 1s .3s both;
    animation: fadeInLeft 1s .3s both;
}
#page4 ul li:nth-child(4){
    -webkit-animation: fadeInUp 1s .3s both;
    animation: fadeInUp 1s .3s both;
}






.page5 div:not(.img1){
    width: 2rem;
    margin: .1rem auto;
    color: orangered;
    text-align: center;
    opacity: 0;
}
.page5 div span{
    display: block;
}
.page5 div:nth-child(1){
    width: 3rem;
    height: .7rem;
    margin: .1rem auto;
}
.page5 div:nth-child(1) img{
    width: 100%;
    height: 100%;
}
.page5 div:nth-child(2) span{
    width: 1rem;
    text-align: center;
    font-size: .2rem;
    font-weight: bold;
    margin: 0 auto;
    border: .01rem dashed orangered;
}
.page5 div:nth-child(3){
    width: 1.5rem;
    height: 1.5rem;
}
.page5 div:nth-child(3) img{
    width: 100%;
    height: 100%;
}
.page5 div:nth-child(4) span{
    width: 2rem;
    text-align: center;
    font-size: .12rem;
    margin: .2rem auto;
}
.page5 div:nth-child(5) span{
    width: 2rem;
    text-align: center;
    font-size: .16rem;
    margin: .2rem auto;
    border: .01rem dashed orangered;
}
.page5 div:nth-child(6){
    width: 2rem;
    text-align: center;
    font-size: .16rem;
    margin: .2rem auto;
    border: .01rem dashed orangered;
}
/*第五张动画*/
#page5 div:nth-child(1){
    -webkit-animation: wobble 1s  both;
    animation: wobble 1s both;
    opacity: 1;
}
#page5 div:nth-child(2){
     -webkit-animation: bounceInLeft 1s .2s both;
     animation: bounceInLeft 1s .2s both;
    opacity: 1;
 }
#page5 div:nth-child(3){
    -webkit-animation: bounceInRight 1s .2s both;
    animation: bounceInRight 1s .2s both;
    opacity: 1;
}
#page5 div:nth-child(4){
    -webkit-animation: bounceInLeft 1s .4s both;
    animation: bounceInLeft 1s .4s both;
    opacity: 1;
}
#page5 div:nth-child(5){
    -webkit-animation: bounceInRight 1s .4s both;
    animation: bounceInRight 1s .4s both;
    opacity: 1;
}
#page5 div:nth-child(6){
    -webkit-animation: bounceInLeft 1s .6s both;
    animation: bounceInLeft 1s .6s both;
    opacity: 1;
}








.music {
    display: none;
    float: left;
    position: absolute;
    top: .2rem;
    right: .2rem;
    z-index: 100;
    width: .3rem;
    height: .3rem;
    background: url("../img/music.svg") no-repeat;
    background-size: 100% 100%;
}

.music.move {
    -webkit-animation: musicMove 1s linear infinite both;
    animation: musicMove 1s linear infinite both;
}

.move .musicAudio {
    display: none;
}

@-webkit-keyframes musicMove {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes musicMove {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.img1{
    width: .2rem;
    height: .2rem;
    position: absolute;
    bottom: .3rem;
    left: 1.5rem;
    z-index: 10;
    opacity: 0;
}
.img1 img{
    display: block;
    width: 100%;
    height: 100%;
}
.page2 .img1{
    width: .2rem;
    height: .2rem;
    position: absolute;
    bottom: .3rem;
    left: 1.5rem;
    z-index: 10;
    opacity: 0;

    border: none;
    border-radius: 0;

    margin: 0;

}
.page5 div:nth-child(7){
    width: .2rem;
    height: .2rem;
    position: absolute;
    bottom: .3rem;
    left: 1.5rem;
    z-index: 10;
    opacity: 0;

}
#img1{
    opacity: 0;
    -webkit-animation: prevMove 1s linear 1.5s infinite both;
    animation: prevMove 1s linear 1.5s infinite both;
 }
#img2{
    opacity: 0;
    -webkit-animation: prevMove 1s linear 1.5s infinite both;
    animation: prevMove 1s linear 1.5s infinite both;
}
#img3{
    opacity: 0;
    -webkit-animation: prevMove 1s linear 1.5s infinite both;
    animation: prevMove 1s linear 1.5s infinite both;
}
#img4{
    opacity: 0;
    -webkit-animation: prevMove 1s linear 1.5s infinite both;
    animation: prevMove 1s linear 1.5s infinite both;
}
#img5{
    opacity: 0;
    -webkit-animation: prevMove 1s linear 1.5s infinite both;
    animation: prevMove 1s linear 1.5s infinite both;
}

@keyframes prevMove{
    0%{
        opacity: 0;
        transform: translateY(0rem);
    }
    50%{
        opacity: 1;
        transform: translateY(-0.15rem);
    }

    100%{
        opacity: 0;
        transform: translateY(-0.3rem);
    }
}








